body {
  font-family: "Libre Baskerville", serif, "Bitstream Vera Serif", sans-serif;
 /* webpackIgnore: true */
  background: url('/img/concrete-texture.png') repeat 0 0;
}

.container-fluid {
  min-height: 100vh; /* will cover the 100% of viewport */
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.btn-custom {
  background-color: hsl(208, 86%, 28%) !important;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1186ed), to(#094b84));
  background-image: -moz-linear-gradient(top, #1186ed, #094b84);
  background-image: -ms-linear-gradient(top, #1186ed, #094b84);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1186ed), color-stop(100%, #094b84));
  background-image: -webkit-linear-gradient(top, #1186ed, #094b84);
  background-image: -o-linear-gradient(top, #1186ed, #094b84);
  background-image: linear-gradient(#1186ed, #094b84);
  border-color: #094b84 #094b84 hsl(208, 86%, 22.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
  border-color: rgb(0, 10, 17) !important;
  color: rgb(0, 10, 17) !important;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 0px;
  padding-bottom: 40px;
}

.sign-up-container {
  width: 30%;
}

.sign-in-container {
  width: 30%;
}

.comments-container {
  width: 80%;
  padding: 20px;
}

.recipe-header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: center;
  background-color: hsl(208, 86%, 43%) !important;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#208eee), to(#0f73cb));
  background-image: -moz-linear-gradient(top, #208eee, #0f73cb);
  background-image: -ms-linear-gradient(top, #208eee, #0f73cb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #208eee), color-stop(100%, #0f73cb));
  background-image: -webkit-linear-gradient(top, #208eee, #0f73cb);
  background-image: -o-linear-gradient(top, #208eee, #0f73cb);
  background-image: linear-gradient(#208eee, #0f73cb);
  border-color: #0f73cb #0f73cb hsl(208, 86%, 40.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.recipe-header-body {
  text-align: left;
}

.nav-pills .nav-link.active {
  background-color: hsl(208, 86%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1186ed", endColorstr="#094b84");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1186ed), to(#094b84));
  background-image: -moz-linear-gradient(top, #1186ed, #094b84);
  background-image: -ms-linear-gradient(top, #1186ed, #094b84);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1186ed), color-stop(100%, #094b84));
  background-image: -webkit-linear-gradient(top, #1186ed, #094b84);
  background-image: -o-linear-gradient(top, #1186ed, #094b84);
  background-image: linear-gradient(#1186ed, #094b84);
  border-color: #094b84 #094b84 hsl(208, 86%, 22.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}

.recipe-yield-time {
  font-size: 1.2rem;
  letter-spacing: .5px;
  line-height: 19px;
  box-sizing: border-box;
}

.recipe-item-page {
  width: 75%;

}
.recipe-main {
  padding: 10px;
  line-height: 1.7rem;
}

.recipe-footer {
  background-color: rgb(240, 240, 240);
}

.navbar {
  font-size: x-large;
  background-color: #e3f2fd;
}
.navbar-brand {
  padding-top: 5px;
  height: 80px;
}
.navbar-brand img {
  width: 200px;
}

.recipe-card-align-left {
  display: flex;
  justify-content: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  min-width: 368px;
  min-height: 60vh
}

.card img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.search-form {
  padding-right: 40px;
}

.vertical-center {
  padding-top: 20px;
}

.recipe-card-left {
  float: left;
}
.recipe-card-right {
  float: right;
}

.recipe-card {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px
}


@media only screen and (max-width: 600px) {

  .recipe-item-page {
    width: 100%;
    /* justify-content: center; */
  }

  .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card {
      min-width: 320px;
  }

  .modal-body {
    width: 100%;
    padding-left: 0;
  }
} 

@media only screen and (max-width: 1000px) {
  
  .sign-in-container {
    width: 100%;
  }

  .sign-up-container {
    width: 100%;
  }
  .recipe-item-page {
    width: 100%;
    /* justify-content: center; */
  }

}
