body {
  font-family: "Libre Baskerville", serif, "Bitstream Vera Serif", sans-serif;
}

.container-fluid {
  min-height: 100vh; /* will cover the 100% of viewport */
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 0px;
  padding-bottom: 40px;
}

.sign-up-container {
  width: 30%;
}

.sign-in-container {
  width: 30%;
}

.comments-container {
  width: 80%;
  padding: 20px;
}

.recipe-header {
  padding-top: 20px;
  padding-left: 20px;
  background-color: #005592;
  color: white;
}

.nav-pills .nav-link.active {
  background-color: #005592 !important;
  color: white !important;
}

.recipe-yield-time {
  font-size: 1.2rem;
  letter-spacing: .5px;
  line-height: 19px;
  box-sizing: border-box;
}

.recipe-item-page {
  width: 75%;

}
.recipe-main {
  padding: 10px;
  line-height: 1.7rem;
}

.recipe-footer {
  background-color: rgb(240, 240, 240);
}

.navbar {
  font-size: x-large;
  background-color: #e3f2fd;
}
.navbar-brand {
  padding-top: 5px;
  height: 80px;
}
.navbar-brand img {
  width: 200px;
}

.recipe-card-align-left {
  display: flex;
  justify-content: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  min-width: 368px;
  min-height: 60vh
}

.card img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.search-form {
  padding-right: 40px;
}

.vertical-center {
  padding-top: 20px;
}

.recipe-card-left {
  float: left;
}
.recipe-card-right {
  float: right;
}


@media only screen and (max-width: 600px) {

  .recipe-item-page {
    width: 100%;
    /* justify-content: center; */
  }

  .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card {
      min-width: 320px;
  }

  .modal-body {
    width: 100%;
    padding-left: 0;
  }
} 

@media only screen and (max-width: 1000px) {
  
  .sign-in-container {
    width: 100%;
  }

  .sign-up-container {
    width: 100%;
  }
  .recipe-item-page {
    width: 100%;
    /* justify-content: center; */
  }

}
