.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 0 0 500px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.recipe-card {
    width: 80%;
}

.navbar {
    font-size: x-large;
    background-color: #e3f2fd;
}
.navbar-brand {
    padding-top: 5px;
    height: 80px;
}
.navbar-brand img {
    width: 200px;
}
.recipe-card-serves {
    position: relative;
    text-align: right;
}

.card-text {
    padding: 0 20px 20px;
    text-align: left;
}

body {
    font-family: 'Libre Baskerville', serif, "Bitstream Vera Serif", sans-serif;
}

.container-fluid {
    min-height: 100vh; /* will cover the 100% of viewport */
    position: relative;   
    padding-top: 20px;
}

.card-text {
    padding: 0 20px 20px;
    text-align: left;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    /* justify-content: center; */
}

.card img {
    width: 100%;  
}