$primary: hsl(208, 86%, 28%);
$border-radius: 6px;
$rfs-base-font-size: 0.8rem;
$enable-responsive-font-sizes: true !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 950px,
  xl: 1200px
) !default;
