@import "./custom";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./navbar";
@import "./card";
@import "./button";
@import "./header";

body {
  font-family: "Libre Baskerville", serif, "Bitstream Vera Serif", sans-serif;
  /* webpackIgnore: true */
  background: url("/img/concrete-texture.png") repeat 0 0;
}

.container {
  min-height: 100vh; /* will cover the 100% of viewport */
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: #f1f1f1;
  padding: 5px;
}

.recipe-container {
  background-color: white;
  margin-right: 0px;
}

.sessions-container {
  width: 55%;
  height: fit-content;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.comments-container {
  width: 80%;
  padding: 20px;
}

.recipe-item-page {
  background-color: #fff;
}
.recipe-main {
  padding: 10px;
  line-height: 1.7rem;
}

.recipe-footer {
  background-color: rgb(240, 240, 240);
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 1px;
    padding-right: 1px;
  }

  .modal-body {
    width: 100%;
    padding-left: 0;
  }

  .sessions-container {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .recipe-item-page {
    width: 100%;
  }
}
